<div class="wrapper">
  <h2>Your check-in details</h2>
  <form class="form">
    <div class="accordion">
      <h3 class="accordion__header" (click)="onAccordionHeaderClick($event)">
        <span class="accordion__title">Personal information</span>
      </h3>
      <div class="accordion__content">
        <input placeholder="First Name" class="input" />
        <input placeholder="Last Name" class="input" />
        <input placeholder="E-mail" class="input" />
        <input placeholder="Phone Number" class="input" />
      </div>

      <h3 class="accordion__header" (click)="onAccordionHeaderClick($event)">
        <span class="accordion__title">Address</span>
      </h3>
      <div class="accordion__content">
        <input placeholder="Street" class="input"/>
        <input placeholder="House Nr." class="input narrow" />
        <input placeholder="Zip Code" class="input narrow" />
        <input placeholder="City Name" class="input" />
        <input placeholder="Country" class="input" />
        <input placeholder="Phone Number" class="input" />
      </div>

      <h3 class="accordion__header" (click)="onAccordionHeaderClick($event)">
        <span class="accordion__title">Credit card</span>
      </h3>
      <div class="accordion__content">
        <input placeholder="Credit Card Number" class="input" />
        <input placeholder="Expiry Date" class="input narrow" />
        <input placeholder="CCV" class="input narrow" />
        <input placeholder="Card Holder Name" class="input" />
      </div>
    </div>

    <span class="form__payment">
      Enter your card details: its number, expiration date and
      the 3-digit number on the back of the card. Please
      provide the credit card holder name as well.
    </span>
    <div class="button__container">
      <button type="submit">Save</button>
    </div>
  </form>

</div>
