.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.wrapper > h2 {
  margin: 0;
  padding: 24px 10px 8px 10px;
  text-align: left;
}

.form {
  width: 100%;
  background: #f1f1f1f5;
  max-width: 800px;
}

.accordion__header {
  margin: 0 0 8px 0;
  padding: 16px 10px 0 10px;
  border-top: 10px solid white;
  display: flex;
  justify-content: space-between;
}

.accordion__header:hover {
  background: #e1e1e1;
}

.accordion__content {
  margin: 0 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

@media (min-width: 600px) {
  .accordion__content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.input {
  padding: 12px 10px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  grid-column: span 2;
}

.input.narrow {
  grid-column: span 1;
}

.form__payment {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin: 0 10px;
  color: #474747;
}

.button__container {
  display: flex;
}

.button__container button {
  color: #e9e9e9;
  background-color: #2e68d3;
  border-style: none;
  border-radius: 4px;
  width: 100%;
  height: 42px;
  margin: 10px;
}

.button__container button:focus {
  outline: 2px solid #fc0707;
}

.accordion__header::after {
  content: url("../assets/arrow-down.svg");
  height: 22px;
}

.accordion__header.closed::after {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}